<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="">
        <p class="text-muted">
          &copy; Mostafa Sedaghat Joo<br>
          The content of this website is available under the <a href="https://creativecommons.org/licenses/by-nc/4.0/"
            rel="nofollow">Commons Attribution-NonCommercial 4.0 (CC BY-NC 4.0)</a>.</p>
      </div>
    </div>

    <div class="footer-links">
      <ul class="media-list">
        <li><a rel="me" href="mailto:mostafa.sedaghat@gmail.com" title="email"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/icons.svg#email' | relative_url }}"></use>
            </svg></a></li>
        <li><a rel="me" href="{{ 'feed.xml' | relative_url }}" title="rss"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/icons.svg#rss' | relative_url }}"></use>
            </svg></a></li>
        <li><a rel="me" href="https://github.com/b00f" title="github"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/icons.svg#github' | relative_url }}"></use>
            </svg></a></li>
        <li><a rel="me" href="https://twitter.com/mos_joo" title="twitter"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/icons.svg#twitter' | relative_url }}"></use>
            </svg></a></li>
        <li><a rel="me" href="https://www.linkedin.com/in/mostafasedaghat/" title="linkedin"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/icons.svg#linkedin' | relative_url }}"></use>
            </svg></a></li>
      </ul>

    </div>

  </div>

</footer>