<ul class="media-list">
  <li><a rel="me" href="mailto:mostafa.sedaghat@gmail.com" title="email"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/icons.svg#email' | relative_url }}"></use></svg></a></li>
  <li><a rel="me" href="aa" title="email"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/icons.svg#rss' | relative_url }}"></use></svg></a></li>
  <li><a rel="me" href="https://github.com/b00f" title="b00f"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/icons.svg#github' | relative_url }}"></use></svg></a></li>
  <li><a rel="me" href="https://gitlab.com/b00f" title="b00f"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/icons.svg#gitlab' | relative_url }}"></use></svg></a></li>
  <li><a rel="me" href="https://gitlab.com/b00f" title="b00f"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/icons.svg#linkedin' | relative_url }}"></use></svg></a></li>
</ul>
